* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'ubuntu';
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.content {
  width: 50vw;
}

.content h1 {
  font-size: 60px;
  font-weight: bold;
  color: rgba(69, 84, 255, 1);
}

.content h6 {
  font-size: 30px;
  color: rgba(106, 106, 106, 0.9);
}

.login-card {
  /* border: 3px solid green; */

  padding: 10px;
  width: 40vw;
  background-color: white;
  box-shadow: 0 0 10px 3px rgba(146, 146, 146, 0.3);
  border-radius: 3px;
}

.login-card input {
  width: 100%;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid rgba(106, 106, 106, 0.7);
  margin: 7px 0px;
  font-size: 18px;
}

.login-card input:hover {
  box-shadow: 0 0 3px 1px rgba(69, 84, 255, 0.7);
}

.login-card button {
  width: 100%;
  margin: 5px 0;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-weight: 900;
}

#log-in {
  background-color: rgba(69, 84, 255, 1);
  color: white;
}

#log-in:hover {
  background-color: rgba(0, 2, 255, 0.8);
}

#forgot-pass {
  background-color: white;
  color: rgba(123, 134, 255, 1);
  border-bottom: 2px solid rgba(106, 106, 106, 0.3);
  border-radius: unset;
}

#forgot-pass:hover {
  background-color: rgba(106, 106, 106, 0.3);
  border-radius: 5px;
}

#new-account {
  background-color: rgba(24, 181, 18, 1);
  margin: 15px auto 0 auto;
  width: 70%;
  display: block;
  color: white;
  font-weight: bolder;
}

#new-account:hover {
  background-color: rgba(0, 154, 66, 1)
}

.add {
  text-align: center;
  margin: 10px 0;
  color: rgba(106, 106, 106, 1);
}

#create-page {
  color: black !important;
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
    row-gap: 5vh;
  }
  
  .login-card {
    width: 90vw;
  }
  
  .content {
    width: 90vw;
  }
  
  .content h1 {
    font-size: 50px;
    text-align: center;
  }
  
  .content h6 {
    font-size: 18px;
    text-align: center;
  }
}
